<style>
    .btn-export {
        top: 10px;
        left: 50px;
        background: green !important;
        border: none !important;
        color: #fff !important;
        font-size: 14px !important;
        padding: 6px 5px !important;
    }
</style>


@model IEnumerable<RCCLAccounts.Core.Models.CpfDeposit.InterestDistributionIndexResult>
@{
    ViewData["Title"] = "Index";
}

<!-- breadcrumb -->
<div class="breadcrumb-header justify-content-between">
    <div class="left-content">
        <span class="main-content-title mg-b-0 mg-b-lg-1">Own Profit Distribution</span>
    </div>
    <div class="justify-content-center mt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item tx-15"><a asp-action="Index" asp-controller="Home">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Own Profit  Distribution</li>
        </ol>
    </div>
</div>
<!-- /breadcrumb -->

@if (TempData["InfoMessage"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            
            swal({
                title: '@TempData["title"]',
                text: '@TempData["InfoMessage"]',
                type: "info",
                showConfirmButton: false,
                timer: 2000
            });
        };

       
    </script>
}
else if (TempData["SuccessMessage"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
      @*  swal("Good job!", '@TempData["SuccessMessage"]', "success" ,timer: 2000);*@
           swal({
                    title: '@TempData["title"]',
                    text: '@TempData["SuccessMessage"]',
                    type: "success",
                    showConfirmButton: false,
                    timer: 2000
            });
    };
        
    </script>
}
else if (TempData["ErrorMessage"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            swal({
                title: '@TempData["title"]',
                text: '@TempData["ErrorMessage"]',
                type: "error",
                showConfirmButton: false,
                timer: 2000
            });
        };
    </script>
}


<div>
    <button type="button" asp-action="Create" class="btn btn-info"><a asp-action="Create"><i class="bi bi-plus-circle-fill"></i> Create New</a></button>
    <br /><br />
</div>
<!-- Row -->
<div class="row row-sm">
    <div class="col-lg-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">         
                <div class="table-responsive  export-table">
                    <table class=" table table-bordered text-nowrap key-buttons border-bottom dataTable no-footer dtr-inline collapsed" id="file-datatable">
                        <thead>
                            <tr>
                                <th>#SL</th>
                                <th style="width:100px">Transaction ID</th>
                                <th style="width:200px" >Month</th>
                                <th style="width:200px" >Year</th>
                                <th style="width:200px">Total Amount</th>                           
                                <th style="width:200px" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int rowNo = 0;
                            }
                            @if (Model.Count() is 0)
                            {
                                <tr>
                                    <td colspan="6" class="text-center">No Data Found</td>
                                </tr>
                            }
                            @foreach (var item in Model)
                            {

                                rowNo++;
                                <tr>
                                    <td>@rowNo</td>
                                   <td>
                                        @Html.DisplayFor(modelItem => item.TransactionId)
                                    </td>
                                    
                                     <td>
                                        @Html.DisplayFor(modelItem => item.Month)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Year)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalCrAmount)
                                    </td>
                                    

                                    <td class="text-center">
                                       
                                        <a asp-action="Details" asp-route-id="@item.TransactionId"><i class="fa fa-desktop fa-lg" style="color:green;"></i></a> |
          
                                        <a href="javascript:void(0)" class="delete-btn" data-id="@item.TransactionId"><i class="fa fa-trash-alt fa-lg" style="color:blue;"></i>

                                       </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/assets/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/assets/plugins/datatable/js/jquery.datatables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/datatables.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/datatables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/jszip.min.js"></script>

    <script src="~/assets/plugins/datatable/pdfmake/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatable/pdfmake/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.colvis.min.js"></script>
    <script src="~/assets/plugins/datatable/datatables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/assets/js/table-data.js"></script>

    <script>
        //setTimeout(function () {

        //    // Closing the alert
        //    $('#alert').alert('close');
        //}, 5000);

        $(document).ready(function () {


            $('.delete-btn').click(function () {
                let id = $(this).data('id');
                console.log("ID Value : " + $(this).data('id'));
                // let id = 1;
                $('body').removeClass('timer-alert');
                swal({
                    title: "Are you sure?",
                    text: "You want to delete?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn btn-danger",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                }, function () {
                    console.log('@Url.Action("Delete", "InterestDistribution")', { Id: id });
                    $.post('@Url.Action("Delete", "InterestDistribution")', { Id: id }, function (data) {
                        console.log(data);
                        if (data.message == "Success") {
                            swal({
                                title: "Deleted!",
                                text: "Successfully deleted",
                                type: "success"
                            },
                                function () {
                                    location.reload();
                                }
                            );
                        }
                        else {
                            swal("Error!", "Something went wrong.", "error");
                        }
                    });
                    //swal("Deleted!", "Successfully deleted.", "success");
                });
            });


            $('#file-datatable').DataTable({
                destroy: true,
                responsive: true,
                // dom: 'Bfrtip',
                //  dom: 'lBfrtip',
                dom: 'lBfrtip',
                buttons: [
                    {
                        extend: 'copy',
                        text: '<i class="fas fa-copy"></i> Copy',
                        className: 'btn-export'
                    },
                    {
                        extend: 'csv',
                        text: '<i class="fas fa-file-csv"></i> CSV',
                        className: 'btn-export'
                    },
                    {
                        extend: 'excel',
                        text: '<i class="fas fa-file-excel"></i></i> Excel',
                        className: 'btn-export'
                    },
                    {
                        extend: 'pdf',
                        text: '<i class="far fa-file-pdf"></i> PDF',
                        className: 'btn-export'
                    },
                    {
                        extend: 'print',
                        text: '<i class="fas fa-print"></i> Print',
                        className: 'btn-export'
                    },
                    {
                        extend: 'colvis',
                        text: '<i class="fas fa-universal-access"></i> Column Visibility',
                        className: 'btn-export'
                    }
                ],

                order: [[1, 'asc'], [0, 'asc']]

            });
           
        });
    </script>
}
