@using System.Globalization;
<style>
   
</style>



<div class="row row-sm">
    <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12">
        <div class="card  box-shadow-0">
            <div class="card-header">
                <h4 class="card-title mb-1">Monthly CPF Statement</h4>             
            </div>
            <div class="card-body pt-0">
                <form >                  
                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Year</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                           @* <select id="BranchID" class="form-control form-select select2" data-bs-placeholder="Please Select Employee" asp-items="@(ViewBag.Branches as SelectList)">
                                <option value="%">All</option>
                            </select>*@
                            <select name="year" id="year" class="form-control form-select year" data-bs-placeholder="Select Year">
                                @for (var i = 2015; i <= DateTime.Now.Year; i++)
                                {
                                    var selected = i == DateTime.Now.Year ? "selected" : "";
                                    <option selected value="@i">@i</option>
                                }
                                <option value="%">All</option>
                            </select>
                        </div>
                    </div>
                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Month</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                            @* <select id="BranchID" class="form-control form-select select2" data-bs-placeholder="Please Select Employee" asp-items="@(ViewBag.Branches as SelectList)">
                            <option value="%">All</option>
                            </select>*@
                            <select name="month" id="month" class="form-control form-select month" data-bs-placeholder="Select Month">
                                @for (var i = 1; i <= 12; i++)
                                {
                                    var selected = i == DateTime.Now.Month ? "selected" : "";
                                    <option selected value="@i">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</option>
                                }
                                <option value="%">All</option>
                            </select>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



<div id="preview" class="row">
    <div class="col-md-12" style="text-align: center">
        <a onclick="callReport()" class="btn btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="View Report">
            <i class="fa fa-eye" aria-hidden="true"></i>
            Preview
        </a>
    </div>
</div>

<div>
    <a asp-action="Index">
        <button type="button" class="btn btn-outline-info">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-start-btn-fill" viewBox="0 0 16 16">
                <path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9.71-6.907L7 7.028V5.5a.5.5 0 0 0-1 0v5a.5.5 0 0 0 1 0V8.972l2.71 1.935a.5.5 0 0 0 .79-.407v-5a.5.5 0 0 0-.79-.407z"></path>
            </svg>
            Back to List
        </button>
    </a>
</div>


<script asp-append-version="true" type="text/javascript">
    $(document).ready(function () {
        $('.select2').select2();
    });


    function callReport() {
 
       // var EmpID = $('#EmpID').val();
        var year = $('#year').val();
        var month = $('#month').val();
        console.log(year);
        var url = "/Report/GetMonthlyCPFStatement?Year=" + year + "&Month=" + month;
        console.log(url);
        reportView(url);
    }

</script>
