@model RCCLAccounts.Core.Models.BankAccountInfoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bank</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountName)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpeningDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DurationMonth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DurationMonth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RateOfInterest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RateOfInterest)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BankId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
