@using System.Globalization;
@model IEnumerable< ProvidentFund.Core.Models.EmployeeCpfledgerModel>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CPF Deposits Details</h4>
 </div>
<!-- Row -->
<div class="row row-sm">
    <div class="col-lg-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-nowrap border-bottom" id="basic-datatable">
                        <thead>
                            <tr>
                                <th>#SL</th>
                                <th class="wd-30p">Employee No</th>
                                <th class="wd-30p">Employee Name</th>
                                <th class="wd-30p">Branch Name</th>
                                <th class="wd-30p">Year</th>
                                <th class="wd-30p">Month</th>
                                <th class="wd-30p">Basic Salary</th>
                                <th class="wd-30p">Own Contribution</th>
                                <th class="wd-30p">Transaction Mode</th>
                                <th class="wd-40p text-center">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int rowNo = 0;
                            }
                            @if (Model.Count() is 0)
                            {
                                <tr>
                                    <td colspan="6" class="text-center">No Data Found</td>
                                </tr>
                            }
                            @foreach (var item in Model)
                            {
                                rowNo++;
                                <tr>

                                    <td>@rowNo</td>
                                    <td>@Html.DisplayFor(modelItem => item.EmpolyeeNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.EmpolyeeName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.BranchName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Year)</td>                                 
                                    <td>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.Month)</td>
                                    <td>@Html.DisplayFor(modelItem => item.BasicSalary)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ContributionPercentage) % </td>
                                    <td>@Html.DisplayFor(modelItem => item.TransactionMode)</td>
                                    <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.CrAmount)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


  <div>
    
    <a asp-action="EmployeeDepositIndex">
        <button type="button" class="btn btn-outline-info" data-mdb-ripple-color="dark" style="margin:15px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-start-btn-fill" viewBox="0 0 16 16">
                <path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9.71-6.907L7 7.028V5.5a.5.5 0 0 0-1 0v5a.5.5 0 0 0 1 0V8.972l2.71 1.935a.5.5 0 0 0 .79-.407v-5a.5.5 0 0 0-.79-.407z"></path>
            </svg>
            Back to List
        </button>
    </a>
</div>
