
<style>
    .btn-export {
        top: 10px;
        left: 50px;
        background: green !important;
        border: none !important;
        color: #fff !important;
        font-size: 14px !important;
        padding: 6px 5px !important;
    }
</style>


@using System.Globalization;
@model IEnumerable<ProvidentFund.Core.Models.EmployeeInfoVM>
@{
    ViewData["Title"] = "Index";
}

<!-- breadcrumb -->
<div class="breadcrumb-header justify-content-between">
    <div class="left-content">
        <span class="main-content-title mg-b-0 mg-b-lg-1">Employee</span>
    </div>
    <div class="justify-content-center mt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item tx-15"><a asp-action="Index" asp-controller="Home">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Employee</li>
        </ol>
    </div>
</div>
<!-- /breadcrumb -->

<p>
    <a asp-action="Create">Create New</a>
</p>
<!-- Row -->
<div class="row row-sm">
    <div class="col-lg-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">               
                @*<div class="table-responsive">*@
                <div class="table-responsive  export-table">
                   @* <table class="table table-bordered text-nowrap mb-0 dataTable no-footer" id="example1">*@
                    <table class="table table-bordered text-nowrap key-buttons border-bottom dataTable no-footer dtr-inline collapsed" id="file-datatable">
                        <thead>
                            <tr>
                                <th class="wd-30p">@Html.DisplayNameFor(model => model.EmployeeNo)</th>
                                <th class="wd-30p">@Html.DisplayNameFor(model => model.EmployeeName)</th>
                                <th class="wd-30p">@Html.DisplayNameFor(model => model.JoiningDate)</th>
                                <th class="wd-30p">@Html.DisplayNameFor(model => model.BranchId)</th>
                                <th class="wd-30p">@Html.DisplayNameFor(model => model.DepartmentId)</th>
                                <th class="wd-30p">@Html.DisplayNameFor(model => model.DesignationId)</th>
                                <th class="wd-30p">@Html.DisplayNameFor(model => model.CpfStartDate)</th>
                                <th class="wd-30p">@Html.DisplayNameFor(model => model.EmployeeStatus)</th>

                                <th class="wd-40p text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmployeeNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmployeeName)
                                    </td>
                                    <td>
                                        @(item.JoiningDate.ToString("dd-MM-yyyy")); 
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BranchName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DepartmentName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DesignationName)
                                    </td>                                   
                                    <td>
                                        @(item.CpfStartDate.ToString("dd-MM-yyyy"));
                                    </td>
                                    <td>
                                        @(item.EmployeeStatus==1?"Actiave":"Inactive")
                                    </td>
                                    <td class="text-center">
                                        <a asp-action="Edit" asp-route-id="@item.EmpolyeeId">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.EmpolyeeId">Details</a> |
                                        <a href="javascript:void(0)" class="delete-btn" data-id="@item.EmpolyeeId">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <!-- Internal  Sweet-Alert js -->
    <script src="~/assets/plugins/sweet-alert/sweetalert.min.js"></script>

    <script src="~/assets/plugins/datatable/js/jquery.datatables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/datatables.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/datatables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/jszip.min.js"></script>

    <script src="~/assets/plugins/datatable/pdfmake/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatable/pdfmake/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.colvis.min.js"></script>
    <script src="~/assets/plugins/datatable/datatables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/assets/js/table-data.js"></script>

    <script>
        $(document).ready(function () {

            //$('#file-datatable').DataTable({
            //    destroy: true,
            //    order: [[2, 'asc'], [0, 'asc']]
            //});
          

            //$('#file-datatable').DataTable({
            //    dom: 'Bfrtip',
            //    buttons: [
            //        'copy', 'excel', 'pdf', 'csv'
            //    ],
            //    destroy: true,
            //    order: [[2, 'asc'], [0, 'asc']]
            //});
            $.fn.dataTable.ext.type.order['date-dd-mm-yyyy-pre'] = function (d) {
                return moment(d, 'DD-MM-YYYY').unix();
            };

            $('#file-datatable').DataTable({
                pageLength: 100,
                destroy: true,
                responsive:true,               
               // dom: 'Bfrtip',
              //  dom: 'lBfrtip',
               dom: 'lBfrtip',                   
                buttons: [
                    {
                        extend: 'copy',
                        text: '<i class="fas fa-copy"></i> Copy',
                        className: 'btn-export'
                    },
                    {
                        extend: 'csv',
                        text: '<i class="fas fa-file-csv"></i> CSV',
                       className: 'btn-export'
                    },
                    {
                        extend: 'excel',
                        text: '<i class="fas fa-file-excel"></i></i> Excel',
                        className: 'btn-export'
                    },
                    {
                        extend: 'pdf',
                        text: '<i class="far fa-file-pdf"></i> PDF',
                        className: 'btn-export'
                    },
                    {
                        extend: 'print',
                        text: '<i class="fas fa-print"></i> Print',
                        className: 'btn-export'
                    },
                    {
                        extend: 'colvis',
                        text: '<i class="fas fa-universal-access"></i> Column Visibility',
                       className: 'btn-export'
                    }
                ],
                
                order: [[2, 'asc'], [0, 'asc']],
                  columnDefs: [
                    { type: 'date-dd-mm-yyyy', targets: 2 }
                ]

            });

            $('.delete-btn').click(function () {

               // $('#file-datatable tbody').on('click', '.delete-btn', function () {
                debugger
                let id = $(this).data('id');
                console.log("Deleting ID: ", id);
                $('body').removeClass('timer-alert');
                swal({
                    title: "Are you sure?",
                    text: "You want to delete?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn btn-danger",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                }, function () {
                    $.post('@Url.Action("Delete", "Emp")', { Id: id }, function (data) {
                        console.log(data);
                        if (data.message == "Success") {
                            swal({
                                title: "Deleted!",
                                text: "Successfully deleted",
                                type: "success"
                            },
                                function () {
                                    location.reload();
                                }
                            );
                        }
                        else {
                            swal("Error!", "Something went wrong.", "error");
                        }
                    });
                    //swal("Deleted!", "Successfully deleted.", "success");
                });
            });
        });
    </script>
}
