@{
    ViewData["Title"] = "Home Page";
}

<!-- breadcrumb -->
<div class="breadcrumb-header justify-content-between">
	<div class="left-content">
		<span class="main-content-title mg-b-0 mg-b-lg-1">DASHBOARD</span>
	</div>
	<div class="justify-content-center mt-2">
		<ol class="breadcrumb">
			<li class="breadcrumb-item tx-15"><a href="javascript:void(0);">Dashboard</a></li>
			<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
		</ol>
	</div>
</div>
<!-- /breadcrumb -->
<!-- row -->
<div class="row">
	<div class="col-xxl-5 col-xl-12 col-lg-12 col-md-12 col-sm-12">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-xs-12">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-xl-9 col-lg-7 col-md-6 col-sm-12">
								<div class="text-justified align-items-center">
									<h3 class="text-dark font-weight-semibold mb-2 mt-0">Hi, Welcome To <span class="text-primary">Rupali Credit Co-operative Ltd. Accounts!</span></h3>
									<p class="text-dark tx-14 mb-3 lh-3"> You have used the 85% of free plan storage. Please upgrade your plan to get unlimited storage.</p>
									<button class="btn btn-primary shadow">Upgrade Now</button>
								</div>
							</div>
							<div class="col-xl-3 col-lg-5 col-md-6 col-sm-12 d-flex align-items-center justify-content-center upgrade-chart-circle">
								<div class="chart-circle float-md-end mt-4 mt-md-0" data-value="0.75" data-thickness="8" data-color="">
									<canvas width="100" height="100"></canvas>
									<div class="chart-circle-value circle-style"><div class="tx-18 font-weight-semibold">85%</div></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-xs-12">
				<div class="card sales-card">
					<div class="row">
						<div class="col-8">
							<div class="ps-4 pt-4 pe-3 pb-4">
								<div class="">
									<h6 class="mb-2 tx-12 ">Total Employee</h6>
								</div>
								<div class="pb-0 mt-0">
									<div class="d-flex">
										<h4 class="tx-20 font-weight-semibold mb-2">@ViewBag.TotalEmp</h4>
									</div>
									<p class="mb-0 tx-12 text-muted">
										Last week<i class="fa fa-caret-up mx-2 text-success"></i>
										<span class="text-success font-weight-semibold"> +427</span>
									</p>
								</div>
							</div>
						</div>
						<div class="col-4">
							<div class="circle-icon bg-primary-transparent text-center align-self-center overflow-hidden">
								<i class="fe fe-shopping-bag tx-16 text-primary"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-xs-12">
				<div class="card sales-card">
					<div class="row">
						<div class="col-8">
							<div class="ps-4 pt-4 pe-3 pb-4">
								<div class="">
									<h6 class="mb-2 tx-12">CPF Total Balance</h6>
								</div>
								<div class="pb-0 mt-0">
									<div class="d-flex">
										<h4 class="tx-20 font-weight-semibold mb-2">@ViewBag.TotalCPFBalance.ToString("N2") &#2547;</h4>
									</div>
									<p class="mb-0 tx-12 text-muted">
										Last week<i class="fa fa-caret-down mx-2 text-danger"></i>
										<span class="font-weight-semibold text-danger"> -453</span>
									</p>
								</div>
							</div>
						</div>
						<div class="col-4">
							<div class="circle-icon bg-info-transparent text-center align-self-center overflow-hidden">
								<i class="tx-16 text-info"> &#2547;</i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-xs-12">
				<div class="card sales-card">
					<div class="row">
						<div class="col-8">
							<div class="ps-4 pt-4 pe-3 pb-4">
								<div class="">
									<h6 class="mb-2 tx-12">Total Loan Balance</h6>
								</div>
								<div class="pb-0 mt-0">
									<div class="d-flex">
										<h4 class="tx-20 font-weight-semibold mb-2">@ViewBag.TotalCPFLoanBalance.ToString("N2") &#2547;</h4>
										
									</div>
									<p class="mb-0 tx-12 text-muted">
										Last week<i class="fa fa-caret-up mx-2 text-success"></i>
										<span class=" text-success font-weight-semibold"> +788</span>
									</p>
								</div>
							</div>
						</div>
						<div class="col-4">
							<div class="circle-icon bg-secondary-transparent text-center align-self-center overflow-hidden">
								<i class="fe fe-external-link tx-16 text-secondary"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-xs-12">
				<div class="card sales-card">
					<div class="row">
						<div class="col-8">
							<div class="ps-4 pt-4 pe-3 pb-4">
								<div class="">
									<h6 class="mb-2 tx-12">Total SOD Balance</h6>
								</div>
								<div class="pb-0 mt-0">
									<div class="d-flex">
										<h4 class="tx-22 font-weight-semibold mb-2">@ViewBag.TotalSODBankBalance.ToString("N2") &#2547;</h4>
									</div>
									<p class="mb-0 tx-12  text-muted">
										Total STD Balance<i class="fa fa-caret-down mx-2 text-danger"></i>
										<span class="text-danger font-weight-semibold"> @ViewBag.TotalSTDBankBalance.ToString("N2") &#2547;</span>
									</p>
								</div>
							</div>
						</div>
						<div class="col-4">
							<div class="circle-icon bg-warning-transparent text-center align-self-center overflow-hidden">
								<i class="fe fe-credit-card tx-16 text-warning"></i>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-xl-6 col-lg-6 col-md-6 col-xs-12">
				<div class="card sales-card">
					<div class="card mg-b-md-20">
						<div class="card-body">
							<div class="main-content-label mg-b-5">
								Empolyee Donut Chart
							</div>
							<p class="mg-b-20">RCCL Empolyee</p>
							<div class="morris-donut-wrapper-demo" id="morrisDonut1"></div>
						</div>
					</div>
				</div><!-- col-6 -->
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-xs-12">
				<div class="card sales-card">
					<div class="card">
						<div class="card-body">
							<div class="main-content-label mg-b-5">
								Donut Chart
							</div>
							<p class="mg-b-20">Basic Charts Of Nowa template.</p>
							<div class="morris-donut-wrapper-demo" id="morrisDonut2"></div>
						</div>
					</div>
				</div><!-- col-6 -->
			</div>

	    <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12">
				<div class="card custom-card overflow-hidden">
					<div class="card-header border-bottom-0">
						<div>
							<h3 class="card-title mb-2 ">CPF DEPOSIT CHART</h3> <span class="d-block tx-8 mb-0 text-muted"></span>
							
						</div>
						
					</div>
					<div class="col-md-2 mg-t-1 mg-md-t-0">
						<select name="year" id="year" class="form-control form-select year" data-bs-placeholder="Select Year">
							@for (var i = 2023; i <= DateTime.Now.Year; i++)
							{
								var selected = i == DateTime.Now.Year ? "selected" : "";
								<option selected value="@i">@i</option>
							}

						</select>
					</div>
					<div class="card-body">
						<div id="statistics1"></div>
					</div>
				</div>
		</div>
			
		</div>
	</div>
</div>


<!-- row closed -->
@section Scripts {

	<script src="~/assets/plugins/jquery/jquery.min.js"></script>
	<script src="~/assets/plugins/raphael/raphael.min.js"></script>
	<script src="~/assets/plugins/select2/js/select2.full.min.js"></script>
	<script src="~/assets/js/select2.js"></script>

	<script src="~/assets/plugins/morris.js/morris.min.js"></script>
	<script src="~/assets/commonjs/dashboard.js"></script>
	
	<script src="~/assets/plugins/moment/moment.js"></script>
	<script src="~/assets/js/apexcharts.js"></script>
   
	<script src="~/assets/js/index.js"></script>
	<script src="~/assets/js/themecolor.js"></script>
	<script>
		

		$(document).ready(function () {
			$('.select2').select2

			var year = $('#year').val();
			statistics1(year);

			$.ajax({
				url: '@Url.Action("GetDountChartData", "Home")',
				type: 'GET',
				dataType: 'json',
				success: function (data) {
					// Create Morris Donut Chart
					new Morris.Donut({
						element: 'morrisDonut1',
						data: data,
						colors: ['#4CAF50', '#FFC107'],
					});
				},
				error: function () {
					console.log(data);
					alert('Error retrieving data.');
				}
			});

			$('#year').change(function () {

				var year = $('#year').val();
				console.log(year);
				statistics1(year);
			});

		function statistics1(year) {
				
				setTimeout(() => {
					// Make an AJAX request to fetch data from the controller method
					$.ajax({
						url: '/Home/GetYearlyCPFDepositChartData',
						type: 'GET',
						dataType: 'json',
						data: {
						year: year // Pass the parameter here
						},
						success: function (data) {
							console.log("Jewel ");
							console.log(data);
							var cpfData = data.map(item => item.cpf);
							var rcclData = data.map(item => item.rccl);

							var options1 = {
								series: [{
									name: 'Total Deposit',
									data: cpfData,
								}, {
									name: 'Total Contribution',
									data: rcclData,
								}],
								chart: {
									type: 'bar',
									height: 280
								},
								grid: {
									borderColor: '#f2f6f7',
								},
								colors: [myVarVal || "#38cab3", "#33cc33"],
								plotOptions: {
									bar: {
										colors: {
											ranges: [{
												from: -100,
												to: -46,
												color: '#ebeff5'
											}, {
												from: -45,
												to: 0,
												color: '#ebeff5'
											}]
										},
										columnWidth: '40%',
									}
								},
								dataLabels: {
									enabled: false,
								},
								stroke: {
									show: true,
									width: 4,
									colors: ['transparent']
								},
								legend: {
									show: true,
									position: 'top',
								},
								yaxis: {
									title: {
										text: 'CPF ' + year,
										style: {
											color: '#ff0066',
											fontSize: '14px',
											fontFamily: 'poppins, sans-serif',
											fontWeight: 600,
											cssClass: 'apexcharts-yaxis-label',
										},
									},
									labels: {
										formatter: function (y) {
											return y.toFixed(0) + "";
										}
									}
								},
								xaxis: {
									type: 'month',
									categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
									axisBorder: {
										show: true,
										color: 'rgba(119, 119, 142, 0.05)',
										offsetX: 0,
										offsetY: 0,
									},
									axisTicks: {
										show: true,
										borderType: 'solid',
										color: 'rgba(119, 119, 142, 0.05)',
										width: 6,
										offsetX: 0,
										offsetY: 0
									},
									labels: {
										rotate: -90
									}
								}
							};

							// Rest of your chart rendering logic
							document.getElementById('statistics1').innerHTML = '';
							var chart1 = new ApexCharts(document.querySelector("#statistics1"), options1);
							chart1.render();
						},
						error: function (error) {
							console.error('Error fetching data from the server', error);
						}
					});
				}, 300);
			}
		});


	</script>
}
