@model RCCLAccounts.Core.Models.EmployeeCPFOpeningModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CPF OPening</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label class="form-label mg-b-0">Employee</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpolyeeName)
        </dd>
        <dt class = "col-sm-2">
            <label class="form-label mg-b-0">Opening Date</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningDate)
        </dd>
        <dt class = "col-sm-2">
            <label class="form-label mg-b-0">Own Deposite</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpOwnDepositeAmt)
        </dd>
       
        <dt class="col-sm-2">
            <label class="form-label mg-b-0">Own Profit</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpInterestDistributionAmt)
        </dd>

        <dt class="col-sm-2">
            <label class="form-label mg-b-0">RCCL Contribution</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpRCCLContributionAmt)
        </dd>

        <dt class="col-sm-2">
            <label class="form-label mg-b-0">RCCL Profit</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpRCCLInterestDistributionAmt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">
        <button type="button" class="btn btn-outline-primary" data-mdb-ripple-color="dark" style="margin:5px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"></path>
            </svg>
            Edit
        </button>
    </a> 
    <a asp-action="Index">
        <button type="button" class="btn btn-outline-info" data-mdb-ripple-color="dark" style="margin:15px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-start-btn-fill" viewBox="0 0 16 16">
                <path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9.71-6.907L7 7.028V5.5a.5.5 0 0 0-1 0v5a.5.5 0 0 0 1 0V8.972l2.71 1.935a.5.5 0 0 0 .79-.407v-5a.5.5 0 0 0-.79-.407z"></path>
            </svg>
            Back to List
        </button>
    </a>
</div>
