@model IEnumerable<ProvidentFund.Core.Models.BankBranchModel>
@{
    ViewData["Title"] = "Index";
}

<!-- breadcrumb -->
<div class="breadcrumb-header justify-content-between">
    <div class="left-content">
        <span class="main-content-title mg-b-0 mg-b-lg-1">Bank Branch</span>
    </div>
    <div class="justify-content-center mt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item tx-15"><a asp-action="Index" asp-controller="Home">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Bank Baranch</li>
        </ol>
    </div>
</div>
<!-- /breadcrumb -->

<p>
    <a asp-action="Create">Create New</a>
</p>
<!-- Row -->
<div class="row row-sm">
    <div class="col-lg-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">         
                <div class="table-responsive">
                    <table class="table table-bordered text-nowrap border-bottom" id="basic-datatable">
                        <thead>
                            <tr>
                                <th class="wd-30p">@Html.DisplayNameFor(model => model.BankBranchName)</th>
                                <th class="wd-30p">@Html.DisplayNameFor(model => model.BranchAddress)</th>
                                <th class="wd-30p">@Html.DisplayNameFor(model => model.BranchIncharge)</th>
                                <th class="wd-30p">@Html.DisplayNameFor(model => model.Designation)</th>
                                <th class="wd-30p">@Html.DisplayNameFor(model => model.MobileNo)</th>
                                <th class="wd-40p text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BankBranchName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BranchAddress)
                                    </td>
                                     <td>
                                        @Html.DisplayFor(modelItem => item.BranchIncharge)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Designation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MobileNo)
                                    </td>

                                    <td class="text-center">
                                        <a asp-action="Edit" asp-route-id="@item.BankBranchId">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.BankBranchId">Details</a> |
                                        <a href="javascript:void(0)" class="delete-btn" data-id="@item.BankBranchId">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <!-- Internal  Sweet-Alert js -->
    <script src="~/assets/plugins/sweet-alert/sweetalert.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.delete-btn').click(function(){
                let id = $(this).data('id');
                $('body').removeClass('timer-alert');
                swal({
                    title: "Are you sure?",
                    text: "You want to delete?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn btn-danger",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },function () {
                    $.post('@Url.Action("Delete", "BankBranch")', { Id: id }, function (data) {
                        console.log(data);
                        if (data.message == "Success") {
                            swal({
                                title: "Deleted!",
                                text: "Successfully deleted",
                                type: "success"
                            },
                                function () {
                                    location.reload();
                                }
                            );
                        }
                        else {
                            swal("Error!", "Something went wrong.", "error");
                        }
                    });
                    //swal("Deleted!", "Successfully deleted.", "success");
                });
            });
        });
    </script>
}
